* {
    background-image: none;
    border-style: none;
    background-color: transparent;
    min-width: 0px;
    min-height: 0px;
}

window {
    padding: 3px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

box .button {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background-color: rgba(50, 50, 60, 0.9);
}

separator {
    background-color: #777;
    padding: 0.5px 0px;
    margin: 0px 8px;
}

image {
    margin: 10px;
}

button.app {
    border-radius: 20%;
    border: none;
    padding: 0px;
}

button.app:hover {
    border-radius: 50%;
    background-color: rgba(100, 100, 120, 1.0);
    transition: 0.15s;
}

button.app:active {
    border-radius: 50%;
    background-color: rgba(160, 160, 180, 1.0);
    transition: 0.1s;
}

button.expand {
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(100, 100, 100, 0.25);
    transition: 0.1s;
    font-weight: bold;
    color: #fafafa;
}

button.expand.collapsed {
    background-color: rgba(100, 100, 100, 0.5);
    padding: 4px;
}

button.expand:hover {
    background-color: rgba(100, 100, 100, 0.75);
    transition: 0.1s;
}